<div class="forgotten_form">
    <div class="forget_form">
        <div class="form_logo">
            <img src="https://cdn-icons-png.flaticon.com/128/595/595759.png" width="120px" alt="">
        </div>
        <h2>Forgotten Password</h2>
        <form>
            <div class="forget_input">
                <label>Username **:</label>
                <input type="text" name="" placeholder="Username" class="bright_input" autocomplete="off">
            </div>
            <div class="forget_input">
                <label>Useremail **:</label>
                <input type="text" name="" placeholder="Useremail" class="bright_input" autocomplete="off">
            </div>
            <div class="forget_input">
                <label>Phone **:</label>
                <input type="text" name="" placeholder="Phone" class="bright_input" autocomplete="off">
            </div>
            <div class="forget_input">
                <label>Enter new Password **:</label>
                <input type="text" name="" placeholder="New Passowrd" class="bright_input" autocapitalize="off">
            </div>
            <div class="forget_input">
                <label>Confirm your Password **:</label>
                <input type="text" name="" placeholder="Confirm Password" class="bright_input" autocomplete="off">
            </div>
            <div class="forgot_buttons">
                <div class="inner_buttns">
                    <button type="button" class="btn btn-dark">Submit</button>
                </div>
                <div class="inner_buttns">
                        <a href="#" [routerLink]="['../../auth']">Go to Signup Page ??</a>
                </div>
            </div>
        </form>
    </div>
</div>